.itens {
  color: #ffffff;
}

.aside-fixed {
  background-color: #151819;
  color: #ffffff;
  height: 100vh;
  max-width: 5%;
  border: 1px solid #32393b;
  z-index: 2;
}

.aside-flex {
  max-width: 13%;
  background-color: #151819;

}
